.texto-morado 
{
  color: rgb(162, 66, 186);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.texto-azul
{
  color: rgb(23, 23, 103);
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

.texto-moradoClaro
{
  color: rgb(181, 45, 181);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
