h1 
      {
        color: rgb(162, 66, 186);
        font-size: 48px;
        text-align: center;
      }
      p
      {
        color: rgb(23, 23, 103);
        font-size: 18px;
        text-align:left ;
      }
      h2
      {
        color: rgb(181, 45, 181);
        font-size: 36;
        text-align: center;
      }
